*.*~
.cache/
.lsp-session-v1
custom-vars.el
eln-cache/
elpa/
eshell/
history
places
projectile-bookmarks.eld
recentf
transient/
/request/
/org-roam.db
/elpy/
/.org-id-locations
/elpa-bak/
/straight/
/org-persist/
